{% extends 'base.html.twig' %}

{% block title %}
	Business Management
{% endblock %}

{% block nav %}
	{{ include("guest/nav.html.twig") }}
{% endblock %}

{% block body %}

	<article class="center-align container">

		<h1>Sales Products' List</h1>

        <div class="pagination">
            {{ knp_pagination_render(saleproducts) }}
        </div>

        <ul class="collection">
            {% for saleproduct in saleproducts %}
                <li class="collection-item avatar">
                    <span class="title">Purchase made on
                        {{ saleproduct.sale.dateOfPurchase|format_datetime('full', 'medium', locale='en')}}
                    </span>

                    <section>
                        <p>
                            Purchase made by
                            {{ saleproduct.sale.customer.firstName }}
                            {{ saleproduct.sale.customer.lastName }}

                        </p>
                        <p>
                            Purchased product :
                            {{ saleproduct.product.name }}
                        </p>
                        <p>
                            Price :
                            {{ saleproduct.product.price }} €
                        </p>
                        <p> 
                            Quantity :
                            {{ saleproduct.quantity}}
                        </p>
                        <p>
                            Color :
                            {{ saleproduct.color}}
                        </p>
                        <p>
                            Total purchase amount :
                            {{ saleproduct.product.price * saleproduct.quantity }} €
                        </p>
                    </section>
                </li>
            {% endfor %}
        </ul>

	</article>

{% endblock %}

