{% extends 'base.html.twig' %}

{% block title %}
	Logging in
{% endblock %}

{% block nav %}
	{{ include("_nav.html.twig") }}
{% endblock %}

{% block body %}

	<article class="center-align container">

        <h1>Logging in</h1>

        {% if error%}
        
        <div class="center-align card-panel red darken-4">
            {{ error.messageKey | trans(error.messagedata,"security")  }}
        </div>

        {% endif %}

        <form class="col s6" method="POST" action="{{ path("login") }}">
            <div class="row">
                <div class="input-field">
                    <input type="text" placeholder="Username" id="username" name="_username" value="{{ lastusername }}">
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input type="password" placeholder="Password" id="password" name="_password">
                    <label for="password">Password</label>
                </div>
            </div>
        <div class="row">
            <div class="input-field">
                <button class="waves-effect waves-light btn" type="submit" name="login">
                    Log in
                </button>
            </div>
        </div>
        </form>

	</article>

{% endblock %}
