{% extends 'base.html.twig' %}

{% block title %}
    Business Management
{% endblock %}

{% block nav %}
	{{ include("_nav.html.twig") }}
{% endblock %}

{% block body %}

	<article class="center-align">
	
		<h1>Home Page</h1>
		<p>Welcome to the business management</p>

	</article>

{% endblock %}
