	<nav>
		<div class="nav-wrapper">
			<a href="{{ path("guest.home") }}" class="brand-logo">Management</a>
			<a href="#" data-target="mobile-demo" class="sidenav-trigger">
				<i class="material-icons">menu</i>
			</a>
			<ul class="right hide-on-med-and-down">
				<li>
					{% if app.user %}
						<a href="{{ path("logout") }}">Log Out</a>
					{% else %}
						<a href="{{ path("login") }}">Log In</a>
					{% endif %}

				</li>
				<li>
					<a href="{{ path("guest.customers") }}">Customers</a>
				</li>
				<li>
					<a href="{{ path("guest.products") }}">Products</a>
				</li>
				<li>
					<a href="{{ path("guest.sales") }}">Sales</a>
				</li>
				<li>
					<a href="{{ path("guest.saleproducts") }}">SaleProducts</a>
				</li>
				<li>
					<a>Tags</a>
				</li>
			</ul>
		</div>
	</nav>

	<ul class="sidenav" id="mobile-demo">
		<li>
			{% if app.user %}
				<a href="{{ path("logout") }}">Log Out</a>
			{% else %}
				<a href="{{ path("login") }}">Log In</a>
			{% endif %}

		</li>
		<li>
			<a href="{{ path("guest.customers") }}">Customers</a>
		</li>
		<li>
			<a href="{{ path("guest.products")}}">Products</a>
		</li>
		<li>
			<a href="{{ path("guest.sales") }}">Sales</a>
		</li>
		<li>
			<a href="{{ path("guest.saleproducts") }}">SaleProducts</a>
		</li>
		<li>
			<a>Tags</a>
		</li>
	</ul>

