{% extends 'base.html.twig' %}

{% block title %}
	Business Management
{% endblock %}

{% block nav %}
	{{ include("_nav.html.twig") }}
{% endblock %}

{% block body %}

<article class="center-align container">


    <h1>Products' List</h1>

    <ul class="collection">
        {% for product in products %}
            <li class="collection-item avatar">
                <span class="title">{{ product.name }}</span>
                <section>
                    <p>{{ product.description }}</p>
                    <p>{{ product.supplier }}</p>
                    <p>
                        {{product.webSiteSupplier}}
                    </p>

                    <p>
                        {{ product.price }} €
                    </p>

                </section>
            </li>
        {% endfor %}

    </ul>

</article>

{% endblock %}