{% extends 'base.html.twig' %}

{% block title %}
	Business Management
{% endblock %}

{% block nav %}
	{{ include("_nav.html.twig") }}
{% endblock %}

{% block body %}

	<article class="center-align container">

		<h1>Sales' List</h1>

        <div class="pagination">
            {{ knp_pagination_render(sales) }}
        </div>

        <div class="left-align">
            <span>
                Sum sales :
                {{ sumsales | round(2, 'floor') }} €
            </span>
        </div>

        <ul class="collection">
            {% for sale in sales %}
                <li class="collection-item avatar">
                    <span class="title">Purchase made on {{ sale.dateOfPurchase|format_datetime('full', 'medium', locale='en')}}</span>
                    <section>
                        <p>
                            Purchase made by {{ sale.customer.firstName }} {{ sale.customer.lastName }}
                        </p>
                        <p>
                            Purchase amount : {{ sale.amount }} €
                        </p>
                    </section>
                </li>
            {% endfor %}

        </ul>

	</article>

{% endblock %}
