{% extends 'base.html.twig' %}

{% block title %}
	Business Management
{% endblock %}

{% block nav %}
	{{ include("_nav.html.twig") }}
{% endblock %}

{% block body %}

	<article class="center-align">

		<h1>Admin Page</h1>
		<p>Welcome to the administration of the business management</p>

	</article>

{% endblock %}
