<nav>
	<div class="nav-wrapper">
		<a href="{{ path("admin.home") }}" class="brand-logo">Admin</a>
		<a href="#" data-target="mobile-demo" class="sidenav-trigger">
			<i class="material-icons">menu</i>
		</a>
		<ul class="right hide-on-med-and-down">
			<li>
				<a href="{{ path("logout") }}">Log Out</a>
			</li>
			<li>
				<a href="{{ path("admin.customers") }}">Customers</a>
			</li>
			<li>
				<a href="{{ path("admin.products") }}">Products</a>
			</li>
			<li>
				<a>Sales</a>
			</li>
			<li>
				<a>SaleProducts</a>
			</li>
			<li>
				<a>Tags</a>
			</li>
		</ul>
	</div>
</nav>

<ul class="sidenav" id="mobile-demo">
	<li>
		<a href="{{ path("logout") }}">Log Out</a>
	</li>
	<li>
		<a href="{{ path("admin.customers") }}">Customers</a>
	</li>
	<li>
		<a href="{{ path("admin.products") }}">Products</a>
	</li>
	<li>
		<a>Sales</a>
	</li>
	<li>
		<a>SaleProducts</a>
	</li>
	<li>
		<a>Tags</a>
	</li>
</ul>

