{% extends 'base.html.twig' %}

{% block title %}
	Business Management
{% endblock %}

{% block nav %}
	{{ include("_nav.html.twig") }}
{% endblock %}

{% block body %}

	<article class="center-align container">

		<h1>Customers' List</h1>

		{{ form_start(forms)}}
			{{ form_rest(forms) }}
			<button type="submit" class="btn btn-primary">Search</button>
		{{ form_end(forms) }}

		<div class="pagination">
			{{ knp_pagination_render(customers) }}
		</div>
		
		<div class="left-align">
			<span>Count : ({{ customers.getTotalItemCount }})</span>
		</div>

		<ul class="collection">
			{% for customer in customers %}
				<li class="collection-item avatar">
					<em class="material-icons md-48">face</em>
					<span class="title">{{ customer.firstName}} {{ customer.lastName}}</span>
					<section>
						<p>{{ customer.address }}</p>
						<p>{{ customer.city }}</p>
						<p>{{ customer.country }}</p>
						<p>
							<em class="material-icons">mail</em>
							{{ customer.mail }}
						</p>

						<p>
							<em class="material-icons">phone</em>
							{{ customer.phone }}
						</p>

					</section>
				</li>
			{% endfor %}
			
		</ul>

	</article>

{% endblock %}
