{% extends 'base.html.twig' %}

{% block title %}
	Administration Business Management
{% endblock %}

{% block nav %}
	{{ include("_nav.html.twig") }}
{% endblock %}

{% block body %}

	<article class="container">

		<h1 class="center-align ">Edit product</h1>

		{{ form_start(forms) }}
		{{ form_rest(forms) }}
		<button type="submit" class="btn btn-primary">Save</button>
		{{form_end(forms)}}

	</article>

{% endblock %}

