{% extends 'base.html.twig' %}

{% block title %}
	Administration Business Management
{% endblock %}

{% block nav %}
	{{ include("_nav.html.twig") }}
{% endblock %}

{% block body %}

	<article class="center-align container">

		<h1>Products' List</h1>

		{% for message in app.flashes("success") %}
			<div class="center-align card-panel green lighten-2">
				{{ message }}
			</div>
		{% endfor %}

		<div class="right-align">
			<a href="{{ path("admin.products.create") }}" class="waves-effect waves-light btn">Create new product</a>
		</div>

		<ul class="collection center-align">
			{% for product in products %}
                <li class="collection-item avatar">
                    <span class="title">{{ product.name }}</span>
                    <section>
                        <p>{{ product.description }}</p>
                        <p>{{ product.supplier }}</p>
                        <p>
                            {{product.webSiteSupplier}}
                        </p>

                        <p>
                            {{ product.price }}
                            €
                        </p>
						<p>

							<a href="{{ path("admin.products.edit", {'id': product.id }) }}" class="waves-effect waves-light btn">Edit</a>

                            <form method="POST" action="{{ path("admin.products.delete", {'id': product.id}) }}" onsubmit="return confirm('Are you sure to delete ?')">
								<input type="hidden" name="_method" value="DELETE"/>
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id)}}"/>
								<button class="btn waves-effect waves-light red darken-4" type="submit" name="action">
									Delete
								</button>
							</form>

						</p>
					</section>
				</li>
			{% endfor %}

		</ul>

	</article>

{% endblock %}

