{% extends 'base.html.twig' %}

{% block title %}
	Administration Business Management
{% endblock %}

{% block nav %}
	{{ include("_nav.html.twig") }}
{% endblock %}

{% block body %}

	<article class="center-align container">

		<h1>Customers' List</h1>

		{% for message in app.flashes("success") %}
			<div class="center-align card-panel green lighten-2">
				{{ message }}
			</div>
		{% endfor %}

		{{ form_start(forms)}}
			{{ form_rest(forms) }}
			<button type="submit" class="btn btn-primary">Search</button>
		{{ form_end(forms) }}

		<div class="pagination">
			{{ knp_pagination_render(customers) }}
		</div>

		<div class="right-align">
			<a href="{{ path("admin.customers.create") }}" class="waves-effect waves-light btn">Create new customer</a>
		</div>

		<div class="left-align">
			<span>Count : ({{ customers.getTotalItemCount }})</span>
		</div>

		<ul class="collection center-align">
			{% for customer in customers %}
				<li class="collection-item avatar">
					<em class="material-icons md-48">face</em>
					<span class="title">{{ customer.firstName}}
						{{ customer.lastName}}</span>
					<section>
						<p>{{ customer.address }}</p>
						<p>{{ customer.city }}</p>
						<p>{{ customer.country }}</p>
						<p>
							<em class="material-icons">mail</em>
							{{ customer.mail }}
						</p>

						<p>
							<em class="material-icons">phone</em>
							{{ customer.phone }}
						</p>

						<p>
						
							<a href="{{ path("admin.customers.edit", {'id': customer.id }) }}" class="waves-effect waves-light btn">Edit</a>
		
							<form method="POST" action="{{ path("admin.customers.delete", {'id': customer.id}) }}" onsubmit="return confirm('Are you sure to delete ?')">

								<input type="hidden" name="_method" value="DELETE"/>
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.id)}}"/>
								<button class="btn waves-effect waves-light red darken-4" type="submit" name="action">
									Delete
								</button>
							</form>

						</p>
					</section>
				</li>
			{% endfor %}

		</ul>

	</article>

{% endblock %}

